# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
    - name: Grant execute permission for gradlew
      run: chmod +x ./BookmarkApp/gradlew
    - name: Build with Gradle
      run: ./BookmarkApp/gradlew build
    - name: Run checkstyle
      run: ./BookmarkApp/gradlew checkstyleMain
    - name: Test with Gradle
      run: ./BookmarkApp/gradlew test
    - name: Code coverage report
      run: ./BookmarkApp/gradlew jacocoTestReport
    - name: Data to codecov
      run: bash <(curl -s https://codecov.io/bash)
